.Googleplay img {
    position: absolute;
    width: 195px;
    height: 60px;
    top: 413px;
    left: 490px;



}

.Appstore img {
    position: absolute;
    width: 195px;
    height: 63px;
    top: 509px;
    left: 491px;

}