.imageForTitleOne img {
    /* width: 219px;
    height: 207px; */
    top: 10px;
    left: 613px;
    position: absolute;
    
}

.imageForTitleTwo img {
    /* width: 327px;
    height: 242px; */
    top: 230px;
    left: 770px;
       
    position: absolute;
}