/* src/MyComponent/styles/Card.css */
.card {
    background-color: #fff; /* Фон карточки */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    overflow: hidden; /* Скрытие лишнего содержимого */
    text-align: center; /* Центрирование текста */
    width: 250px; /* Ширина карточки */
    display: flex; /* Используем flex для карточки */
    flex-direction: column; /* Располагаем элементы в колонку */
    justify-content: space-between; /* Равномерное распределение пространства */
    padding: 15px; /* Внутренние отступы */
}

.card-image {
    width: 100%; /* Полная ширина изображения */
    height: auto; /* Автоматическая высота */
}

.card-buttons {
    display: flex; /* Используем flex для кнопок */
    flex-wrap: wrap; /* Позволяем кнопкам обтекать */
    justify-content: center; /* Центрируем кнопки */
    margin-top: 10px; /* Отступ сверху */
}

.card-button {
    background-color: #F24822; /* Установите оранжевый фон для кнопки */
    border: none; /* Без границы */
    color: white; /* Цвет текста */
    padding: 10px 15px; /* Внутренние отступы */
    margin: 5px; /* Отступы между кнопками */
    border-radius: 5px; /* Скругление углов кнопок */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход фона при наведении */
}

.card-button:hover {
    background-color: #c83e1d; /* Темнее при наведении */
}
